* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.row-nowrap{
    flex-flow: row nowrap;
}

.column-nowrap{
    flex-flow: column nowrap;
}

.row-wrap{
    flex-flow: row wrap;
}

/* Flex Item */
.item{
    flex: 1;
    margin: 5px;
    background: rgb(160, 76, 216);
    text-align: center;
    font-size: 1.5em;
}

h1{
    text-align: center;
    margin: 20px 0 0;
    font-size: 1.25;
    font-weight: normal;
}
