* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;

}
.container{
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}
/* Flex Item */
.item{
    flex: 1;
    margin: 5px;
    background: rgb(160, 76, 216);
    text-align: center;
    font-size: 1.5em;
}

h1{
    text-align: center;
    margin: 20px 0 0;
    font-size: 1.25;
    font-weight: normal;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}